In [1]:
import pandas

In [32]:
df1 = pandas.read_csv('iris1.csv')
print(df1.shape)
df2 = pandas.read_csv('iris2.csv')
print(df2.shape)

display(df1['species'].unique())
display(df2['species'].unique())

display(df1.sample())

(59, 5)
(59, 5)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

    sepal_length  sepal_width  petal_length  petal_width         species
48           6.8          3.0           5.5          2.1  Iris-virginica

In [41]:
# see: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

#Append is a simplified concat function.
combined_df = df1.append(df2, ignore_index=True)
display(combined_df.shape)

# what about if we don't ignore index?
display(combined_df.loc[34])
test_df = df1.append(df2, ignore_index=False)
display(test_df.shape)
display(test_df.loc[34])
# we end up with multiple items with the same index.

(118, 5)

sepal_length                6.2
sepal_width                 2.2
petal_length                4.5
petal_width                 1.5
species         Iris-versicolor
Name: 34, dtype: object

(118, 5)

    sepal_length  sepal_width  petal_length  petal_width          species
34           6.2          2.2           4.5          1.5  Iris-versicolor
34           5.6          2.5           3.9          1.1  Iris-versicolor

(118, 5)

    sepal_length  sepal_width  petal_length  petal_width          species
34           6.2          2.2           4.5          1.5  Iris-versicolor
34           5.6          2.5           3.9          1.1  Iris-versicolor